body {
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border: 1px solid red;
    background-color: lightgray;
}
.container .logo {
    margin-right: 60%;
    color: orange;
}
.container .controls {
    opacity: 0.8;
    border-top: 1px solid orange;
    width: 100%;
    height: 150%;
    text-align: center;
}
.container .controls button {
    background-color: green ;
    outline: none;
    border: none;
    color: white;
}
.container .form_field {
    background-color: grey;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.container .form_field h3 {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.671);
}
.container .form_field button {
    background-color: green;
    border: none;
    width: 100%;
}
.content_table {
    width: 100%;
    height: 100%;
}