body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   /** background-image: url(../images/dark.jpg); **/
   background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.5px;
    
}
.signup-page {
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    opacity: 0.7;
}
.signup-form {
    width: 95%;
    background-color: black;
}
#textalign {
    text-align: center;
}
.signup-form h1 {
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 208, 0, 0.788);
}
.signup-form p {
    font-size: 15px;
}
.signup-form input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;

}
#margin-left {
    margin-left: 5%;
}
.signup-form button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    outline: none;
    border: none;
    background-color: rgba(255, 166, 0, 0.877);
}
.signup-form button:hover {
    background-color: rgba(255, 166, 0, 0.404);
}
.footer-section {
    background-color: black;
    opacity: 0.5;
    border-top: 10px solid  rgba(255, 166, 0, 0.877);;
    display: grid;
    place-items: center;
    height: 20vh;
}
@media(min-width:768px) {
    .signup-form {
        width: 35%;
    }   
}